<head itemscope itemtype="http://schema.org/WebSite">
       <title></title>
       <meta content="tgdh" itemprop="name">
       <meta charset="utf-8">
       <!-- <meta name="author" content="" /> -->
       <meta name="description" content="" />
       <meta name="viewport" content="width=device-width, initial-scale=1" />
       <meta name="robots" content="index,follow" />
       <!-- <meta name="google-site-verification" content=""> -->
       <meta property="og:title" content="">
       <meta property="og:type" content="website">
       <meta property="og:url" content="http://tgdh.co.uk">
       <meta property="og:image" content="http://tgdh.co.uk/img/home-icon.png">
       <meta property="og:description" content="">
       <meta property="og:locale" content="en_GB">
       <!-- <meta property="article:author" content=""> -->
       <!-- <meta property="og:site_name" content=""> -->
       <meta name="twitter:card" content="summary">
       <meta name="twitter:site" content="">
       <meta name="twitter:creator" content="">
       <meta name="twitter:url" content="http://tgdh.co.uk">
       <meta name="twitter:title" content="">
       <meta name="twitter:description" content="">
       <meta name="twitter:image" content="http://tgdh.co.uk/img/home-icon.png">
       <!-- <link rel="author" href="/about" title="About the author" /> -->
       <link rel="canonical" href="http://tgdh.co.uk" itemprop="url">
       <link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap" />
       <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="">
       <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
       <link rel="apple-touch-icon" type="image/png" href="/img/home-icon.png" />
       <link rel="manifest" href="/manifest.json" />
       <link rel="stylesheet" href="/css/style.css" />
       <script>
           var $html = document.documentElement;
           var isEnhanced = 'querySelector' in document
               && 'localStorage' in window
               && 'addEventListener' in window
               && 'classList' in document.documentElement;
           $html.classList.remove( 'no-js' );
           $html.classList.add( 'js' );
           if( isEnhanced ) {
               $html.classList.remove( 'no-enhance' );
               $html.classList.add( 'enhance' );
               if( localStorage.getItem( 'fonts-loaded' ) ) {
                   $html.classList.add( 'fonts-loaded' );
               }
           }
       </script>
   </head>
