@inherits UmbracoViewPage<TextareaViewModel>
@{
    if (string.IsNullOrWhiteSpace(Model.Text.ToString()))
    {
        return;
    }
}

<div class="@Model.AdditionalClass @Model.WrapClasses">
    @Model.Text
</div>
