/* ===========================================================

	# Mixins

=========================================================== */

@mixin breakline() {
	content: "";
	width: 2.7rem;
	height: .1rem;
	background-color: currentColor;
	display: block;
	margin-top: 1rem;
}

@mixin inline-link( $invert: false, $borderSize: 2px ) {
	transition: color $speed $ease,
				background-color $speed $ease,
				box-shadow $speed $ease;

	@if $invert {
		box-shadow: inset 0 (-$borderSize) 0 $white;

		&:hover,
		&:focus {
			color: $pri;
			background-color: $white;
			box-shadow: none;
		}

		&:focus {
			outline: 0.2rem solid white;
		}

	}

	@if $invert == false {
		box-shadow: inset 0 (-$borderSize) 0 $pri;

		&:hover,
		&:focus {
			color: $white;
			background-color: $pri;
			box-shadow: none;
		}

		&:focus {
			outline: 0.2rem solid #000000;
		}
	}

}

@mixin underline-link( $invert: false, $borderSize: 2px ) {
	background-image: linear-gradient(currentColor,currentColor);
	background-repeat: no-repeat;
	background-size: 100% $borderSize;
	background-position: center bottom 15%;
	background-origin: padding-box;

	transition: text-shadow $speed $ease,
				color $speed $ease,
				background-color $speed $ease,
				box-shadow $speed $ease;

	@if $invert {
		text-shadow: 3px 0 $pri,
					 2px 0 $pri,
					 1px 0 $pri,
					 -1px 0 $pri,
					 -2px 0 $pri,
					 -3px 0 $pri;
	} @else {
		text-shadow: 3px 0 $background-colour,
					 2px 0 $background-colour,
					 1px 0 $background-colour,
					 -1px 0 $background-colour,
					 -2px 0 $background-colour,
					 -3px 0 $background-colour;
	}
}
