@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">

	<div class="o-wrap o-wrap--small">
		<h1>@Model.Name</h1>
	</div>
	@RenderCarosuel()
</main>


@helper RenderCarosuel() {
	var gallery = new GalleryViewModel
    {
        MediaIds = "1095,1077,1093",
        Alignment = "Full width",
        AspectRatio = "16:9",
        AdditionalClass = ""
    };

    @Html.Partial("~/Views/Partials/Components/Gallery.cshtml", gallery)
}
