@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	<div class="o-wrap o-wrap--x-large o-section">
		<h1>@Model.Name</h1>
		<div class="o-wrap--small">
			@Html.Partial("~/Views/Partials/Careers/VacancyListing.cshtml")
		</div>
	</div>
</main>
