@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}
<main id="main" class="o-page__content" role="main">
	<div class="o-page__content__wrap o-wrap o-wrap--small">
		<h1>@Model.Name</h1>
		<div class="o-wrap--small">
			@Html.CachedPartial("~/Views/Partials/Careers/VacancyListing.cshtml", Model, 43200)
		</div>
	</div>
</main>
