@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	@{
	    var cover = new CoverViewModel {
	        ImageId = Model.GetPropertyValue<int>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy")
	    };

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}

	<section>
		<h2 class="u-visually-hidden">Featured work</h2>
		<div class="c-map js-map"></div>
	</section>
</main>
