@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}
<main id="main" class="o-page__content" role="main">
	@Html.Partial("~/Views/Partials/Page/ContactCover.cshtml", Model)

	<section>
		<h2 class="u-visually-hidden">Map location</h2>
		<div class="c-map js-map"></div>
	</section>
</main>
