@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
	var coverImageIds = Model.GetPropertyValue<string>("coverImage");
}

<main id="main" class="o-page__content" role="main">
	<div class="o-page__content__wrap u-clearfix s-free-content">
		<h1 class="o-wrap o-wrap--small u-beta">Form stylguide</h1>

		<div class="o-wrap o-wrap--small">
			<section class="o-section">
				<h2># Input field</h2>
				<div class="o-form__field o-form__field--compact">
					<input class="o-form__input" id="Name" name="Name" required="required" type="text" value="" aria-required="true" aria-describedby="Name-error" aria-invalid="true">
					<label class="o-form__label" for="Name">Your name</label>
				</div>
				<div class="o-form__field is-required">
					<label for="fieldName" class="o-form__label">Name</label>
					<input id="fieldName" name="cm-name" type="text" class="o-form__input" required placeholder="Enter your text..." />
				</div>
			</section>
			<section class="o-section">
				<h2># Textarea</h2>

				<div class="o-form__field">
					<label for="textarea" class="o-form__label">Briefly what are the purposes of the new site? *</label>
					<textarea name="" id="textarea" class="o-form__textarea" placeholder="Enter your text..."></textarea>
				</div>
			</section>
			<section class="o-section">
				<h2># Select</h2>
			</section>
			<section class="o-section">
				<h2># Checkbox</h2>
				<div class="o-form__field">
					<fieldset class="o-fieldset">
						<legend class="o-fieldset__legend">The workflow</legend>
						<ul class="o-fieldset__list o-fieldset__list--halfs u-clearfix">
							@for ( var i = 0; i < 3; i++ ) {
								var inputId = "checkbox" + i;
								<li class="o-fieldset__item">
									<input class="o-form__checkbox" value="{{ .label }}" id="@inputId" type="checkbox" name="{{ .name }}">
									<label for="@inputId" class="o-form__label o-form__label--alt">
										<span class="o-form__checkbox-button">
											<div class="o-form__checkbox-icon"></div>
										</span>
										<span class="o-form__checkbox-label-text">Label <span class="o-form__checkbox-label-note">(Note)</span></span>
									</label>
								</li>
							}
						</ul>
					</fieldset>
				</div>
			</section>
			<section class="o-section">
				<h2># Radio button</h2>
				<fieldset class="o-fieldset">
					<legend class="o-fieldset__legend">The workflow</legend>
					<ul class="o-fieldset__list o-fieldset__list--halfs u-clearfix">
						@for ( var i = 0; i < 3; i++ ) {
							var radioId = "radio" + i;

							<li class="o-fieldset__item">
								<input class="o-form__radio" value="{{ .label }}" id="@radioId" type="radio" name="{{ .name }}">
								<label for="@radioId" class="o-form__label o-form__label--alt">
									<span class="o-form__radio-button"></span>
									<span class="o-form__radio-label-text">Label</span>
								</label>
							</li>
						}
					</ul>
				</fieldset>
			</section>
			<section class="o-section">
				<h2># Buttons</h2>
				<button class="c-button c-button--primary">Primary</button>
				<button class="c-button c-button--secondary">Secondary</button>
				<button class="c-button c-button--secondary is-disabled">Disabled</button>
			</section>
			<section class="o-section">
				<h2># File upload</h2>

				<div class="c-upload js-upload">
					<div class="c-upload__inner">
						<input type="file" name="inputId[]" id="inputId" class="inputfile c-upload__input" />
						<label class="c-upload__label" for="inputId">
							<svg class="c-upload__icon u-icon u-icon--24">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#arrow-up"></use>
							</svg>
							<span class="c-upload__text js-upload-text">Choose a file&hellip;</span>
						</label>
					</div>
					<div class="c-upload__note">*Max 2MB size</div>
				</div>
			</section>
			<section class="o-section">
				<h2>Image checkbox</h2>
				<div class="c-image-checkbox">
					<input class="o-form__checkbox" value="{{ .label }}" id="checkboxProfile" type="checkbox" name="{{ .name }}">
					<label for="checkboxProfile" class="o-form__label o-form__label--alt">
						<div class="c-image-checkbox__image-wrap o-aspect--1-1">
							<img src="/assets/img/briefing-form/profiles/debbie-lawrenson.jpg" alt="Debbie Lawrenson" class="c-image-checkbox__image">
						</div>
						<div class="c-image-checkbox__content">
							<span class="o-form__checkbox-button">
								<div class="o-form__checkbox-icon"></div>
							</span>
							<span class="o-form__checkbox-label-text">Debbie Lawrenson</span>
							<div class="o-image-checkbox__subtitle u-font-sec">Head of Digital</div>
						</div>
					</label>
				</div>
			</section>


<section class="o-section">
	<h2>Tabs</h2>

	<div class="c-tabs js-tabs">
		<ul class="c-tabs__tablist js-tabs__tablist">
			<li class="c-tabs__tablist-item">
				<a class="c-tabs__tab js-no-scroll" id="tab1" href="#panel1">Panel 1</a>
			</li>
			<li class="c-tabs__tablist-item">
				<a class="c-tabs__tab js-no-scroll" id="tab2" href="#panel2">Panel 2</a>
			</li>
			<li class="c-tabs__tablist-item">
				<a class="c-tabs__tab js-no-scroll" id="tab3" href="#panel3">Panel 3</a>
			</li>
		</ul>
		<section class="c-tabs__panel js-tabs__panel" id="panel1">
			Panel content 1
		</section>
		<section class="c-tabs__panel js-tabs__panel" id="panel2">
			Panel content 2
		</section>
		<section class="c-tabs__panel js-tabs__panel" id="panel3">
			Panel content 3
		</section>
	</div>

</section>

    </div>
</main>
