@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}
<main id="main" class="o-page__content" role="main">
	@{
	    var cover = new CoverViewModel {
			ImageId = Model.GetPropertyValue<int>("coverImage"),
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
		};
		@Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
	@Html.Partial("~/Views/Partials/CaseStudies/FeaturedCaseStudies.cshtml")
</main>
