@using System.Text
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var homePage = Model.Site();
	var selection = homePage.Children().Where(x => x.IsVisible() && x.TemplateId > 0 && !x.GetPropertyValue<bool>("isSecondaryNav"));
	StringBuilder sb = new StringBuilder();
	sb.Append( Model.GetPropertyValue<string>("coverCopy") );
	if( selection.Any() ) {
		sb.Append("<ul class='o-list--inline'>");
		foreach( var item in selection ) {
			sb.Append( "<li class='o-list__item u-strong'><a href='" + item.Url + "'>" + item.Name + "</a></li>" );
		}
		sb.Append("</ul>");
	}
}

<main id="main" class="o-page__content" role="main">
	@{
		var cover = new CoverViewModel {
		   ImageIds = Model.GetPropertyValue<string>("coverImage"),
		   Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
		   Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
		   SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
		   Copy = @Html.Raw(sb),
		   Cta = Model.GetPropertyValue<string>("coverCta")
	   };

	    @Html.Partial("~/Views/Partials/Components/Cover.cshtml", cover)
	}
</main>
