@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
	var coverImageIds = Model.GetPropertyValue<string>("coverImage");
}

<main id="main" class="o-page__content" role="main">
	@{
	    var cover = new CoverViewModel {
			ImageIds = coverImageIds,
			Headline = Model.HasValue("coverHeadline") ? Model.GetPropertyValue<string>("coverHeadline") : Model.Name,
			Subtitle = Model.GetPropertyValue<IHtmlString>("coverSubtitle"),
			SubtitleLabel = Model.GetPropertyValue<string>("coverSubtitleLabel"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy"),
			Cta = Model.GetPropertyValue<string>("coverCta")
	    };

	    @Html.CachedPartial("~/Views/Partials/Components/Cover.cshtml", cover, 43200, true)
	}
	<div class="o-page__content__wrap u-clearfix s-free-content">
		@if( String.IsNullOrWhiteSpace(coverImageIds) ) {
			<h1 class="o-wrap o-wrap--small">@headline</h1>
		}
	    @Html.CachedPartial("~/Views/Partials/Page/PageComponents.cshtml", Model, 43200, true)
    </div>
</main>

