@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	<div class="o-page__content__wrap o-wrap o-wrap--small">
		<h1>@Model.Name</h1>
		<div class="u-font-sec u-space-bottom">
			@Model.GetPropertyValue("pageDescription")
		</div>
		@Html.CachedPartial("~/Views/Partials/Page/PageComponents.cshtml", Model, 43200, true)
	</div>
</main>
