@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main id="main" class="o-page__content" role="main">
	<div class="o-page__content__wrap">
		<div class="o-wrap o-wrap--small">
			<h1>@Model.Name</h1>
			<div class="u-font-sec u-space-bottom">
				@Model.GetPropertyValue("pageDescription")
			</div>
		</div>
		@Html.Partial("~/Views/Partials/Page/PageComponents.cshtml")
	</div>
</main>
