@inherits UmbracoViewPage<HeadingViewModel>
@{
	if(string.IsNullOrWhiteSpace(Model.Headline.ToString())) {
		return;
	}
	var subtitle = Model.Subtitle;
}

<header class="o-heading">
	<h2 class="o-heading__headline u-beta">@Model.Headline</h2>
	@if(!String.IsNullOrEmpty(subtitle)) {
		<span class="o-heading__subtitle u-font-sec">@subtitle</span>
	}
</header>
