@inherits UmbracoViewPage<HeadingViewModel>
@{
	if(string.IsNullOrWhiteSpace(Model.Headline)) {
		return;
	}
	var subtitle = Model.Subtitle;
	if (Model.IsCenter) {
		Model.ModifierClass = Model.ModifierClass + " o-heading--center";
	}
}

<header class="o-heading @Model.ModifierClass">
	<h2 class="o-heading__headline u-beta">@Model.Headline</h2>
	@if(!String.IsNullOrEmpty(subtitle)) {
		<span class="o-heading__subtitle u-font-sec">@Html.Raw(subtitle)</span>
	}
</header>
