@inherits UmbracoViewPage<StatViewModel>
@{
	if( String.IsNullOrWhiteSpace(Model.Value) ) {
		return;
	}
}
<div class="o-stat js-stat @Model.ModifierClass">
	<span class="o-stat__label">@Model.Label</span>
	<span class="o-stat__fig u-font-sec u-giga">@Model.Value</span>
</div>
