/* ===========================================================

  # Hull Truck case study

=========================================================== */

.s-hullTruckCaseStudy__image-cols--intro {

	.s-hullTruckCaseStudy__image-cols__col:before {
		@include pad-top(753,600);
	}

}

// city of culture {
.s-hullTruckCaseStudy__city-culture__image {
	display: none;
}

// advertisting

.s-hullTruckCaseStudy__advertisting__image-col--first {
	@include column(2.5/7);
}

.s-hullTruckCaseStudy__advertisting__image-col--last {
	@include column(4/7);
	float: right;
}

@include respond-max( $mq-medium ) {

	.s-hullTruckCaseStudy {
		.o-stat {
			text-align: center;
			margin-top: $line-height * 2;
		}
	}

}

@include respond-min( $mq-medium ) {

	// city of culture
	.s-hullTruckCaseStudy__city-culture {
		position: relative;
		min-height: 64rem;
	}

	.s-hullTruckCaseStudy__city-culture__image {
		max-width: 56rem;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}

}

@include respond-min-max( $mq-medium, $mq-large ) {

	// city of culture
	.s-hullTruckCaseStudy__city-culture__image {
		width: 40%;
	}

}

@include respond-min( $mq-medium ) {

	.s-hullTruckCaseStudy {

		.c-card {
			max-width: 38rem;
		}

	}

	// advertisting
	.s-hullTruckCaseStudy__advertisting {
		min-height: 112rem;
	}

	.s-hullTruckCaseStudy__advertisting__content {
		position: relative;
	}

	.s-hullTruckCaseStudy__advertisting__image-main {
		width: 50%;
		max-width: 60rem;
		position: absolute;
		left: 64.1666666667%;
	    top: -10rem;
	}

}


@include respond-min( $mq-large ) {

	// city of culture
	.s-hullTruckCaseStudy__city-culture__image {
		width: 50%;
	}

}
