/* ===========================================================

	# Form

=========================================================== */
$line-height-half: $line-height / 2;

.o-form__row {
	& + & {
		padding-top: $padding-small;
	}
}

.o-form__row--submit {
	text-align: right;
}

.o-form__input,
.o-form__textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.o-form__validation {
	display: none;
	position: absolute;
	font-size: 1.2rem;
	margin-top: $line-height / 4;

	.is-valid & {
		display: block;
		color: $success;
	}

	.is-invalid & {
		display: block;
		color: $error;
	}
}

.o-form__field {
	position: relative;

	& + & {
		margin-top: $line-height * 2;
	}
}

.s-webPPC {

	.o-form__field + .o-form__field {
		margin-top: 0;
	}

}


@include respond-max( $mq-small ) {

	.s-webPPC {

		.c-quote__copy {
			font-size: 2rem;
		}

	}

	.o-form__row--two {

		.o-form__field + .o-form__field {
			margin-top: $line-height;
		}

	}

}

@include respond-min( $mq-small ) {

	.o-form__row--two {

		.o-form__field {
			@include column( 1/2 );
			margin-top: 0;

		}

	}

}


//= LABEL ====================================================

.o-form__label {
	display: block;
	font-weight: $bold;
	margin-bottom: $line-height / 2;

	&[for] {
		cursor: pointer;
	}
}

input:disabled ~ .o-form__label {

	&[for] {
		cursor: not-allowed;
	}

}

.o-form__label--alt {
	font-weight: 500;
}

.enhance {

	.o-form__field--compact {
		margin-top: $line-height;

		.o-form__label {
			opacity: 0.5;
			font-size: 1.6rem;
			position: absolute;
			top: -0.3rem;
			padding: 0;
			transform: translate( 1rem, 50% );
			transition: color $speed $ease,
						transform $speed $ease,
						font-size $speed $ease;
			will-change:color,
						font-size;
		}

		input,
		textarea {

			&:focus {

				& ~ .o-form__label {
					font-size: 1.2rem;
					transform: translate(0,-100%);
				}

			}

		}

		&.has-value {

			.o-form__label {
				font-size: 1.2rem;
				transform: translate(0,-100%);
			}

		}

	}

}


//= SELECT ===================================================

.o-form__select {
	position: relative;
	vertical-align: middle;
	z-index: 1;

	select {
		appearance: none;
		border: none;
		position: relative;
		text-indent: .01px;
		text-overflow: '';
		z-index: 1;

		&::-ms-expand {
		    display: none;
		}

		.lt-ie10 & {
			padding-right: 1rem;
		}
	}

	&:after {
		content: '\25BE';
		background: rgba($white, .2); // covers IE browser arrow
		display: block;
		height: 100%;
		line-height: 40px; // Height of the select
        position: absolute;
        pointer-events: none;
        right: 0;
        top: 0;
        width: 30px;
        z-index: 0;

	}
}

// FireFox 30 hide native down arrow
:-moz-any( .o-form__select ):after {
	z-index: 1;
}


//= FIELDSET =================================================

.o-fieldset__legend {
	font-weight: $bold;
	margin-bottom: $line-height;
}

.o-fieldset__list {
	list-style: none;
}

.o-fieldset__list--max {
	max-width: 30rem;
}

.o-fieldset__item {
	margin: 0 0 1rem;
	position: relative;
}

.o-fieldset__list--half {

	.o-fieldset__item {

		@include respond-min ($mq-medium) {
			@include column(1/2, $gutter: 3, $cycle: 2);
		}

	}
}

/* ===========================================================
	Checkbox & Radio
    1.
=========================================================== */

.o-form__checkbox,
.o-form__radio {
	float: left;
	width: auto;

	.enhance & {
		@include visually-hidden;
	}
}

.o-form__checkbox-button,
.o-form__radio-button {
	width: 2.2rem;
	height: 2.2rem;
	border: .2rem solid $pri;
	display: block;
	margin-right: 1rem;
	position: relative;
	vertical-align: middle;
	transition: background-color $speed $ease;
	position: absolute;
	transition: box-shadow $speed $ease;

	.no-enhance & {
		display: none;
	}
}

.o-form__checkbox-label-text,
.o-form__radio-label-text {
	padding-left: 3.2rem;
	display: block;
}

.o-form__checkbox-icon {
	width: 14px;
	height: 12px;
	color: $white;
	display: block;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	transform: translate(-50%, -50%) rotate(45deg);
	transition: opacity $speed $ease;
	line-height: 1;

	&::before {
		content: "";
		width: 50%;
		height: 100%;
		display: block;
		margin: auto;
		border-right: 3px solid $white;
		border-bottom: 3px solid $white;
		box-sizing: border-box;
	}

}

.o-form__checkbox {

	&:disabled ~ .o-form__label {

		.o-form__checkbox-button {
			opacity: 0.2;
		}
	}

}

.o-form__checkbox:checked + .o-form__label,
.o-form__checkbox:checked + input[type="hidden"] + .o-form__label {

	.o-form__checkbox-button {
		background-color: $pri;
	}

	.o-form__checkbox-icon {
		opacity: 1;
	}

}

.o-form__checkbox:focus ~ .o-form__label {

	.o-form__checkbox-button {
		box-shadow: 0 0 0 6px rgba(0,0,0,0.2);
	}

}

.o-form__checkbox-label-note {
	opacity: 0.4;
}

.o-form__radio-button {
	border-radius: 100%;

	&::before {
		content: '';
		width: 8px;
		height: 8px;
		background-color: $white;
		border-radius: 100%;
		display: block;
		opacity: 0;
		transition: opacity $speed $ease;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.o-form__radio {

	&:disabled ~ .o-form__label {

		.o-form__radio-button {
			opacity: 0.2;
		}
	}

}

.o-form__radio:checked + .o-form__label {

	.o-form__radio-button {
		background-color: $pri;
	}

	.o-form__radio-button:before {
		opacity: 1;
	}

}

.o-form__radio:focus ~ .o-form__label {

	.o-form__radio-button {
		box-shadow: 0 0 0 6px rgba(0,0,0,0.2);
	}

}
