/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $background-colour;
	min-height: 100%;
}

.o-page__inner {
	width: 100%;
}

.o-page__content {
	overflow-x: hidden;
}

.flexbox {

	.o-page {
		display: flex;
		flex-direction: column;
	}

	.o-page__inner {
		flex: 1 1 auto;
	}

}

.o-page__scroll-top {
	display: none;
}

@include respond-min( $mq-large ) {

	.enhance {

		.o-page {
			padding-right: 9.4rem;
		}

	}

	.o-page__content {
		padding-top: 10rem;
	}

	.o-page__scroll-top {
		color: $white;
		background-color: $pri;
		display: block;
		position: fixed;
		z-index: 11;
		bottom: 0;
		right: 0;
		padding: 3.1rem;
		transition: background $speed $ease;

		&:hover {
			background-color: $sec;
		}

		&:focus {
			outline: .2rem solid $pri;
			outline-offset: .2rem;
		}


		svg {
			display: block;
		}
	}

}
