/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $background-colour;
	min-height: 100%;
}

.o-page__inner {
	width: 100%;
}

.flexbox {

	.o-page {
		display: flex;
		flex-direction: column;
	}

	.o-page__inner {
		flex: 1 1 auto;
	}

}

.o-page__to-top {
	display: none;
}

@include respond-min( $mq-large ) {

	.enhance {

		.o-page {
			padding-right: 9.4rem;
		}

	}

	.o-page__content {
		margin-top: 10rem;
	}

	.o-page__to-top {
		color: $white;
		background-color: $pri;
		display: block;
		position: fixed;
		z-index: 1;
		bottom: 0;
		right: 0;
	}

}
