/* ===========================================================

	# Stat

=========================================================== */

.o-stat {
	width: 50%;
	float: left;
}

.o-stat__label,
.o-stat__fig {
	display: block;
	font-weight: $bolder;
}

.o-stat__fig {
	line-height: 1;
	padding: 0;
}
