<!doctype html>
<html lang="en" class="no-js no-enhance">
	@include('partials/head.html')
	<body>
		@include('partials/notify.html')
		<a href="#main" class="">Skip to main content</a>
		<!-- {% include modules/header.html %} -->
		<main id="main" role="main">

			<!---->
			<div id="barba-wrapper">
				<div class="barba-container">
					...Put here the content you wish to change between pages...
				</div>
			</div>
			<!---->
            <p>hmm</p>
		</main>
		@include('partials/footer.html')
	</body>
</html>
