@using System.Web.Mvc.Html
@using TGDH.Core.Data
@using TGDH.Core.Utility
@inherits UmbracoViewPage<IPublishedContent>
@{
    var allProfiles = TeamRepository.AllProfiles(Umbraco).ToList();
    var paging = Paging.GetPages(allProfiles.Count);
    var selection = allProfiles.Skip(paging.Skip).Take(paging.Take).ToList();
}

@if( selection.Any() ) {
	<div class="c-profile-card-listing u-clearfix">
		@foreach( var item in selection ) {
		    var profile = new ProfileCardViewModel {
				ImageId = item.GetPropertyValue<int>("profilePicture"),
				FirstName = item.GetPropertyValue<string>("firstName"),
				LastName = item.GetPropertyValue<string>("lastName"),
				JobTitle = item.GetPropertyValue<string>("jobTitle")
		    };
			@Html.Partial("~/Views/Partials/Team/ProfileCard.cshtml", profile);
		}
	</div>

}
