/* ===========================================================

	# Article summary

=========================================================== */

.c-article-summary {

	& + & {
		margin-top: $line-height;
	}

}

.c-article-summary__link {
	display: block;
	padding: 2rem 0;

	&:hover,
	&:focus {

		.c-article-summary__heading__headline {
			color: $white;
			background-color: $pri;
		}
	}
}

.c-article-summary__heading {
	margin-bottom: $line-height;

	&:after {
		@include breakline();
	}
}

.c-article-summary__heading__headline.c-article-summary__heading__headline {
	display: inline;
	padding-bottom: 0;
	transition: color $speed $ease,
				background-color $speed $ease,
				box-shadow $speed $ease;

	@include inline-link();
}

.c-article-summary__heading__subtitle {
	opacity: .65;
	font-style: italic;
	font-size: 1.4rem;
	display: block;
}

.c-article-summary__copy,
.c-article-summary__cta {
	display: inline;
}

.c-article-summary__cta {
	font-weight: $bolder;
}

.c-article-summary__meta {
	margin-bottom: $line-height;
}

.c-article-summary__image-wrap {
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

.c-article-summary__meta__label {
	display: inline-block;
	font-style: italic;
	font-size: 1.8rem;
	opacity: .65;
}
