/* ===========================================================

	# Cover

=========================================================== */

.c-cover__heading {
	&:after {
		@include breakline();
	}

}

.c-cover__headline {
	padding-bottom: 2rem;
}

.c-cover__subtitle {
	opacity: .65;
	font-style: italic;

	ul {

		list-style: none;

		li {
			display: inline-block;
			margin: 0;

			&:after {
				content: "/";
				margin: 0 .5rem;
			}

			&:last-child:after {
				content: "";
				display: none;
			}
		}

	}

}

.c-cover__media-wrap {
	position: relative;
}

.c-cover__media {
	display: block;
	position: relative;
	overflow: hidden;
	background-color: $placeholder-colour;
	background-size: cover;
	background-position: center;

	&:before {
		content: "";
		display: block;
		@include pad-top(500,540);
	}
}

.c-cover__media-wrap {
	position: absolute;
	top: 0;
}

.c-cover__content {
	padding-bottom: $padding-small;
}

@include respond-min-max( $mq-small, $mq-medium ) {

	.c-cover__media:before {
		@include pad-top(16,9);
	}

}

@include respond-max( $mq-medium ) {

	.c-cover__decoration {
		width: calc( 100% + 1rem );
		//background: url('/assets/img/house-cover-bottom.svg') no-repeat;
		background-image: svg-url('<svg width="33" height="6" viewBox="0 0 33 6" xmlns="http://www.w3.org/2000/svg"><path d="M33 6H0V3.2L12.647 0 33 5.623z" fill="#FFF"/></svg>');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		bottom: -1px;
		left: -.5rem;
		z-index: 2;

		&:before {
			content: "";
			display: block;
			@include pad-top(33,6);

		}
	}

}

@include respond-min( $mq-medium ) {

	.c-cover__subtitle {

		ul {

			li + li:before {
				margin-left: 1rem;
				margin-right: 1rem;
			}

		}

	}

	.c-cover__media,
	.c-cover__content {
		@include span( 1/2 );
	}

	.c-cover__copy {
		line-height: $line-height;
		max-width: $mq-x-large / 2;
	}

	.c-cover__decoration {
		width: calc( 100% + 1rem );
		//background: url('/assets/img/house-cover-top.svg') no-repeat;
		background-image: svg-url('<svg width="33" height="15" viewBox="0 0 33 15" xmlns="http://www.w3.org/2000/svg"><path d="M33 0H0v8.2L12.647 0 33 14.623z" fill="#FFF"/></svg>');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		top: -.5px;
		left: -.5rem;
		z-index: 2;

		&:before {
			content: "";
			display: block;
			@include pad-top(33,15);
		}
	}

	.flexbox {

		.c-cover {
			display: flex;
		}

		.c-cover__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.c-cover__copy {
			position: relative;
		}

	}

}

@include respond-min-max( $mq-medium, $mq-large ) {

	.c-cover__headline {
		font-size: 4rem;
	}

	.c-cover__subtitle {
		font-size: 1.4rem;
	}

}

@include respond-min-max( $mq-large, $mq-x-large ) {

	.c-cover__headline {
		font-size: 4.8rem;
	}

}

@include respond-min( $mq-large ) {


	.c-cover__content {
		padding-left: 8rem;
	}

}

@include respond-min( $mq-x-large ) {

	.c-cover__subtitle {
		font-size: 1.8rem;
	}

	.c-cover__headline {
		font-size: 6rem;
	}

}
