/* ===========================================================

	# Cover

=========================================================== */

.c-cover__image-wrap {
	position: relative;
	background-color: $placeholder-colour;

	&:before {
		content: "";
		padding-top: 100%;
	}
}

.c-cover__image {
	position: absolute;
	top: 0;
}

@include respond-min( $mq-medium ) {

	.c-cover__image-wrap,
	.c-cover__content {
		@include column( 1/2 );
	}

	.c-cover__copy {
		font-size: 2rem;
		line-height: $line-height;
		max-width: $mq-x-large / 2;
	}

}
