/* ===========================================================

	# Footer

=========================================================== */

.c-footer {
	color: $white;
	font-size: 1.4rem;
	background-color: $pri;

	h1,
	h2,
	h3 {
		color: inherit;
	}

	a {
		color: inherit;

		&:not([class]) {
			@include inline-link(true);
		}
	}

	.u-icon {
		fill: $white;
	}
}

.c-footer__cta {
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;

}

.c-footer__headline {
	font-weight: $bold;
}

@include respond-min( $mq-large ) {

	.c-footer__sub {
		padding-left: 10rem;
		padding-right: 10rem;
		margin-bottom: 6rem;
	}

}
