/* ===========================================================

	# Footer

=========================================================== */

.c-footer {
	color: $white;
	background-color: $pri;

	h1,
	h2,
	h3 {
		color: inherit;
	}

	a {
		color: inherit;

		&:hover {

		}

		&:focus {

		}
	}
}
