/* ===========================================================

	# Image checkbox

=========================================================== */

.c-image-checkbox__image-wrap {
	margin-bottom: 1.4rem;
	max-width: 16rem;
}

.c-image-checkbox__content {
	position: relative;
}

.o-image-checkbox__subtitle {
	font-size: 1.4rem;
	font-style: italic;
	opacity: 0.65;
	margin-left: 3.2rem;
}
