/* ===========================================================

	# Logos

=========================================================== */

.c-logo-grid {
	text-align: center;
}

.c-logo {
	width: 50%;
	width: calc(50% - 1px);
	float: left;
	padding: $line-height 0;
}

.c-logo__link {
	display: block;
}

.c-logo__image {
	display: block;
    margin: auto;
    max-width: 75%;
}

.flexwrap {

	.c-logo-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.c-logo {
		width: 33.3333333333%;
		width: calc(33.3333333333% - 1px);
	}

}

@include respond-min( $mq-medium ) {

	.c-logo {
		width: 25%;
		width: calc(25% - 1px);
	}

}
