/* ===========================================================

	# Meta data

=========================================================== */

.c-meta {
	list-style: none;

	&:after {
		content: "";
		width: 2.7rem;
		height: .1rem;
		background-color: $pri;
		display: block;
		margin-top: $line-height / 2;
	}
}

.c-meta__item {
	display: inline-block;
	font-style: italic;
	margin: 0;
	opacity: .65;

	& + .c-meta__item:before {
		content: "/";
		margin: 0 1rem;
	}
}
