/* ===========================================================

	# mobile frame

=========================================================== */

.c-mobile-frame {
	position: relative;
	overflow: scroll;
	padding: 5rem .5rem;
	border-radius: 3rem;
	background-color: $pri;
	position: relative;

	&:after {
		content: "";
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		background-color: $white;
		position: absolute;
		bottom: 1rem;
		left: 50%;
		margin-left: -1.5rem;
	}
}
