/* ===========================================================

	# Nav

=========================================================== */

.c-nav-toggle {
	color: $white;
	font-size: 1.2rem;
	padding: 2.4rem 1.2rem;
	line-height: 1;
	text-transform: uppercase;
	background-color: $pri;
	cursor: pointer;
	transition: background $speed $ease;

	&:hover {
		background-color: $sec;
	}

	&:focus {
		outline: .2rem solid $pri;
		outline-offset: .2rem;
	}

}
