/* ===========================================================

  # Image offset columns

=========================================================== */

@include respond-max( $mq-medium ) {

	.c-image-offset-column__col + .c-image-offset-column__col {
		margin-top: $line-height;
	}

}

@include respond-min( $mq-medium ) {

	.c-image-offset-column__col--content {
		@include column(5.5/12, $gutter: 10);
	}

	.c-image-offset-column__col--image {
		@include column(6.5/12, $gutter: 10);
		float: right;
	}

	.c-image-offset-column__col--last {

		.c-desktop-frame {
			margin-right: -40%;
		}

	}

	.c-image-offset-column--reverse {

		.c-image-offset-column__col--content {
			@include shift($ratios: 6.5/12, $col-or-span: column, $gutter: 10)
		}

		.c-image-offset-column__col--image {
			@include shift($ratios: -5.5/12, $col-or-span: column, $gutter: 10)
		}

		.c-image-offset-column__col--last {

			.c-desktop-frame {
				margin-left: -40%;
				margin-right: inherit;
			}

		}

	}

	.flexbox {

		.c-image-offset-column {
			display: flex;
		}

		.c-image-offset-column__col--content {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

	}

}
