/* ===========================================================

	# Quote

=========================================================== */

.c-quote {
	position: relative;
	line-height: 1.3;
	text-align: center;
	padding-left: $padding-medium;
	padding-right: $padding-medium;
	quotes: "\201C""\201D""\2018""\2019";

	&:before,
	&:after {
		color: $pri;
		font-size: 3.6rem;
		font-weight: 700;
		font-family: serif;
		line-height: 0.6em;
		position: absolute;
		top: .7rem;
	}

	&:before {
		content: open-quote;
		left: 0;
	}

	&:after {
		content: close-quote;
		right: 0;
	}
}

.c-quote__copy {
	display: block;
	font-style: italic;
	font-size: 2rem;
}

.c-quote__src {
	font-weight: $bold;
	font-size: 1.4rem;
	margin-top: $line-height;
}

@include respond-min( $mq-medium ) {

	.c-quote__copy {
		font-size: 3rem;
	}

}
