@inherits UmbracoViewPage<IPublishedContent>

<footer class="c-footer">
	<div class="c-footer__cta o-wrap">
		<h2 class="c-footer__headline u-alpha">Want more?</h2>
		<div>Get in touch</div>
		<ul class="o-list--inline">
			<li class="o-list__item">023 9233 4971</li>
			<li class="o-list__item"><a href="mailto:studio@tgdh.co.uk">studio@tgdh.co.uk</a></li>
		</ul>
	</div>

	<p>Walton Road Farlington Portsmouth P06 1TR
© 2015 all rights reserved
	<ul class="o-list--inline u-space-top">
		<li class="o-link-list__item">
			<a href="" class="o-link-list__link">T &amp; C</a>
		</li>
		<li class="o-link-list__item">
			<a href="" class="o-link-list__link">Sitemap</a>
		</li>
	</ul>
</p>

</footer>
