@inherits UmbracoViewPage<IPublishedContent>

<footer class="c-footer">
	<div class="c-footer__sinner">
		<h2>Want more?</h2>
		<div>Get in touch</div>
		<ul class="o-list--inline">
			<li class="o-list__item">023 9233 4971</li>
			<li class="o-list__item"><a href="mailto:studio@tgdh.co.uk">studio@tgdh.co.uk</a></li>
		</ul>
	</div>


</footer>
