@inherits UmbracoViewPage<IPublishedContent>

<noscript>
    <div class="c-notify c-notify--info c-notify--javascript">
        <div class="c-notify__inner">
            <p>You have JavaScript turned off in your browser, that means some of the features on this site won't work. For the best experience please turn on JavaScript: find out <a href="http://www.enable-javascript.com/" rel="external" target="_blank" rel="noopener">how to turn javascript on</a>.</p>
        </div>
    </div>
</noscript>
<div class="c-notify c-notify--info c-notify--browser js-message--browser">
    <div class="c-notify__inner">
        <p>Your browser doesn't support some of the latest features used to build this site. For the best experience you might want to look at <a href="https://whatbrowser.org/" rel="external" target="_blank" rel="noopener">upgrading your browser</a>.</p>
    </div>
</div>
