@inherits UmbracoViewPage<IPublishedContent>
@{
	var heading = new HeadingViewModel {
        Headline = Model.GetPropertyValue<string>("resultHeadline"),
        Subtitle = Model.GetPropertyValue<string>("resultSubtitle")
    };
}
<section class="o-section u-background--light u-clearfix">
	<div class="o-section__inner o-wrap o-wrap--x-large">
		@Html.Partial("~/Views/Partials/Components/Heading.cshtml", heading)
		<div class="o-col--two-one u-clearfix">
			<div class="o-col o-col--first">
				@Model.GetPropertyValue("resultCopy")
			</div>
			<div class="o-col o-col--last js-ht-stats-1">
				@RenderStats()
			</div>
		</div>
	</div>
</section>

@helper RenderStats() {
	var stats = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("resultStats");
	if( stats == null ) {
		return;
	}

	foreach( var item in stats ) {
		var statData = new StatViewModel {
			Label = item.GetPropertyValue<string>("label"),
			Value = item.GetPropertyValue<string>("value")
    	};
	    @Html.Partial("~/Views/Partials/Components/Stat.cshtml", statData)
	}
}
