/* ===========================================================

  # Colours

=========================================================== */

.u-background--light {
	background-color: $light-1;
}

.u-background--pri {
	color: $white;

	h1,
	h2,
	h3 {
		color: inherit;
	}

	a {
		color: inherit;

		&:not([class]) {
			@include inline-link(true, 1px);
		}
	}

	background-color: $pri;

	.c-quote {
		&:before,
		&:after {
			color: inherit;
		}
	}

	.c-button--secondary {
		color: $pri;
		background-color: $white;

		&:hover,
		&:focus {
			color: $white;
			background-color: $pri;
			border-color: inherit;
		}
	}

	.c-button--primary {
		color: $white;
		border-color: inherit;

		&:hover,
		&:focus {
			color: $pri;
			background-color: $white;
		}
	}

	.c-mobile-frame,
	.c-desktop-frame,
	.c-tablet-frame {
		background-color: #f4f4f4;
	}

}
